{% if page.lang == "en" %}
	{% assign baseurl = site.baseurl | append: "/en" %}
{% endif %}
<p class="post-details">
	{% for category in include.post.categories %}
		<span class="blog-filter">
			<a href="{{ baseurl }}/category/{{ category | slugify }}/">{{ category | capitalize }}</a>
		</span>
	{% endfor %}
	<span class="post-date">
{{ include.post.date | date: "%d" }}
{% assign m = include.post.date | date: "%m" %}{% case m %}{% when '01' %}{{ site.data.l18n.january[page.lang] }}{% when '02' %}{{ site.data.l18n.february[page.lang] }}{% when '03' %}{{ site.data.l18n.march[page.lang] }}{% when '04' %}{{ site.data.l18n.april[page.lang] }}{% when '05' %}{{ site.data.l18n.may[page.lang] }}{% when '06' %}{{ site.data.l18n.june[page.lang] }}{% when '07' %}{{ site.data.l18n.july[page.lang] }}{% when '08' %}{{ site.data.l18n.august[page.lang] }}{% when '09' %}{{ site.data.l18n.september[page.lang] }}{% when '10' %}{{ site.data.l18n.october[page.lang] }}{% when '11' %}{{ site.data.l18n.november[page.lang] }}{% when '12' %}{{ site.data.l18n.december[page.lang] }}{% endcase %}
{{ include.post.date | date: "%Y" }}
	</span>
</p>
