<h3><a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.post.title }}</a></h3>
{% include post-title-summary.html post=post %}
<div class="post-content">
	{{ include.post.excerpt }}
	<p><a href="{{ site.baseurl }}{{ include.post.url }}">{{ site.data.l18n.read_more[page.lang] }} &rarr;</a></p>
</div>
