---
title: Nous
layout: default
permalink: en/nous/
ref: pages-nous
lang: en
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Who are we ?</h2>
</div>

</section>

<section class="diagonal">
	<div class="container">

		<h2 class="editable">Subscribe to our newsletter</h2>

		<p class="subtext editable">
		 Regularly (3-4 times a year), finds most of the "techno-legal" health news.
		</p>

		<form id="newsletterFormEn" action="https://newsletter.api.interhop.org/dntgit/" method="post" class="contact-form">

			<input type="email" name="email_newsletter_en" id="email_newsletter_en" placeholder="Email address" required />

			<div class="halves">
				<div class="form-group">
					<input type="submit" value="Subscribe"/>
				</div>
				<div class="form-group">
					<input type="submit" value="Unsubscribe" formaction="https://newsletter.api.interhop.org/aozxhn/"/>
				</div>
			</div>
		</form>
		<br />
		<p class="subtext editable">* Of course no personal information will be given to anyone ! </p>

	</div>

</section>

<section class="diagonal patterned">
	<div class="container">

		<h3 class="editable"></h3>
		<p class="subtext editable">
			 InterHop.org is a French non-profit association under the French law of 1901. It promotes, develops and makes available free and open-source software for health research.
<p><a class="button alt" href="{{ site.baseurl }}/en/statuts">Associative Statuses</a></p>

		<p class="subtext editable">
			InterHop.org brings together activists for open source software and self-managed use of health data at the local level. 
		</p>

			<h3>Protecting our health data</h3>
		<p class="subtext editable">
Massive data - or big data - is today's gold, the digital giants have understood this and are becoming powerful players in the health data market. In fact, they are setting up storage platforms - or hosting - that are inexpensive and easy to use.<br />
The <a href="{{ site.baseurl }}/en/projets/justice">recent scandals</a> however make us doubt their intentions and their methodology for using this treasure.<br / >
Let's remain in control of our health data and build a safe and suitable alternative together. We will gain in security, autonomy and knowledge.<br />
		</p>

		<p><a class="button alt" href="{{ site.baseurl }}/en/manifeste">InterHop Manifesto</a></p>
		</p>
			<h3>Our story</h3>
		<p class="subtext editable">
Our association was created in 2020 during COVID. Every evening at 8 p.m. you thanked and encouraged the nursing staff, but also reaffirmed the values of mutual aid and solidarity. This period of crisis has made us understand the role of digital technology in the medicine of the future. Due to a lack of understanding of the complex issues, she is in danger and needs everyone's support.
		</p>

		<p class="subtext editable">

We are seeing that more and more health IT projects are being centralized around proprietary American players - Amazon and Microsoft. These actors subject us to interference from the United States in our legal and economic system.<br />
Indeed, the laws called Patriot Act / FISA then the CLOUD Act allow, thanks to the extraterritoriality of American law, legal access to the personal data of French citizens without warning them. We want to prevent a repeat of the scenario shown by <a href="{{ site.baseurl }}/en/2020/05/20/snowden-merci">Edward Snowden</a> in 2013.<br />
To combat this, we are committed to using <a href="{{ site.baseurl }}/en/projets/logiciels">free software</a>, minimizing the storage of medical data, not exploiting patient data and <a href="{{ site.baseurl }}/en/projets/hds">hosting data</a> with companies subject exclusively to European law.
		</p>

		<p class="subtext editable">
Back in 2014, the Framasoft association's ‘Dégooglisons Internet’ project showed by example that it was possible to bring together free and ethical skills and devices with a view to decentralising the Internet. The initiative spearheaded by a handful of members demonstrates that it is possible to help individuals as well as organisations build credible alternatives to the digital giants with a decentralised, liberating approach - as opposed to a centralised one.
		</p>
			<h3>Who are we?</h3>


		<p class="subtext editable">
			We are a collective of engineers, lawyers, health professionals and patients. 
		</p>

		<p class="subtext editable">
 Our team is mainly from French hospitals. We have mainly worked in hospital data management centres. Together we are experts in the challenges of digital health.

		</p>

		<p class="subtext editable">

We know that using data can be beneficial for patients. However, we are also aware of the possible abuses and want to reinforce a framework of transparency around free software to guarantee the respect of privacy.<br />
Our association questions the way in which digital and health influence each other. 
		</p>
	</div>
</section>


<section class="diagonal">

	<div class="container">
			<h2>InterHop Association</h2>
	<div class="container halves aligned-top">
		<div>
			<h3>The association's Office</h3>
			<ul>
			<li><strong>Adrien PARROT</strong>, Physician-engineer, president</li>
			<li><strong>Antoine LAMER</strong>, Datascientist, treasurer</li>
			<li><strong>Nicolas PARIS</strong>, BigData engineer, secretary</li>
			</ul>

		</div>
		<div>
			<h3>Members / sympathizers</h3>
			<ul>
			<li><strong>Juliette ALIBERT</strong>, Lawyer</li>
			<li><strong>Fabio BOUDIS</strong>, Data Scientist</li>
			<li><strong>Chantal CHARLOT</strong>, Data Protection Officer</li>
			<li><strong>Charles-Henri DECULTOT</strong>, Engineer</li>
			<li><strong>Céline DECULTOT</strong>, Midwife</li>
			<li><strong>Boris DELANGE</strong>, Physician-engineer</li>
			<li><strong>Florent DESGRIPPES</strong>, Engineer</li>
			<li><strong>Chantal CHARLOT</strong>, Data Protection Officer</li>
			<li><strong>Jamel LOUCHI</strong>, Physician</li>
			<li><strong>Niels MARTIGNENE</strong>, Physician-engineer</li>
			<li><strong>Silvère MAZIERE</strong>, Web Developer</li>
			<li><strong>Quentin PARROT</strong>, Engineer</li>
			<li><strong>Gabriel PERRAUD</strong>, Physician</li>
			<li><strong>Benjamin POPOFF</strong>, Physician - PhD student in datascience</li>
			<li><strong>Guillaume PRESSIAT</strong>, Statistical engineer</li>
			</ul>

		</div>
		
		<p>Thanks to Miguel Ángel Armengol de la Hoz for the help with the design of the logo :-)</p>

	</div>
	

	<div class="container halves aligned-top">
		<div>
			<h3>Head office</h3>
				<address><a target="_blank" href="https://www.openstreetmap.org/search?query={{ site.data.company.address | url_encode }}">{{ site.data.company.address | replace: ", ", ", <br>" }}</a></address>
		</div>
		<div>
			<h3>Email</h3>
			<p><a href="mailto:{{ site.data.company.contact_email_address }}">{{ site.data.company.contact_email_address }}</a></p>
		</div>
	</div>
</section>
