---
title: Projets
layout: default
calendar: true
permalink: en/projets/
ref: pages-projets
lang: en
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Our Projects</h2>
	</div>
</section>

<section class="diagonal alternate">

	<div class="container">

		<h3>Free software for health research</h3>
		<p class="editable subtext">
			InterHop.org takes on the ideas of <a href="https://framasoft.org" target="_blank">Framasoft.org</a> and <a href="https://www.chatons.org" target="_blank">CHATONS.org</a>

		</p>

		<p class="editable subtext">
			In the field of health, our objectives are therefore:
			<ul>
			<li>Create a transparent and ethical associative framework of trust around data. We are therefore committed to protecting your health data so that trust and confidentiality between patients and caregivers are preserved.
			<li>To inform users - patients and caregivers - about the issues of free software and health data</li>
			<li>Be a network of projects relevant to health research via alternative and effective IT solutions</li>
			<li>Install and develop ethical digital tools to promote open and more reproducible health research</li>
			<li>Propose decentralized, transparent and ethical offers certified for health</li>
			</ul>
		</p>

		<ul class="image-grid">
			{% assign _projets = site.projets | where: "lang", "en" | where: "projets_outils", "true" | sort: 'order_outils' %}
			{% for projet in _projets %}
				<li>
					<a href="{{ site.baseurl }}{{ projet.url }}">
						<img src="{% include relative-src.html src=projet.image %}" alt="Logo - {{ projet.title }}">
						<div class="details">
							<div class="name">{{ projet.title }}</div>
							<div class="position">{{ projet.description }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
		</ul>

		<p><a style="text-align: center;" class="button alt" type="blue" href="{{ site.baseurl }}/2023/04/06/brochure-recherche">See our “Research” brochure</a></p>

	</div>

</section>






<section class="diagonal patterned">

	<div class="container">

		<h3>InterHop.org facilitates access to the law</h2>

		<p class="subtext editable">
InterHop.org works for the full and complete application of the General Data Protection Regulation or GDPR (text which protects European citizens in their rights).
		</p>
		<p class="subtext editable">
It is possible to contact the Data Protection Officer at <a href="mailto:dpo-interhop@riseup.net">dpo-interhop@riseup.net</a>.
		</p>

		<p><a class="button alt" href="{{ site.baseurl }}/en/nous">Subscribe to our technical-legal newsletter</a></p>


	<br />
		<h3>InterHop.org wants to change the law and apply the law</h2>
		<p class="subtext editable">
InterHop.org, as part of its advocacy activities, will allow the emergence of concrete proposals at a national and European level.
For us, it is about acting in favor of maximum protection of health data, spreading the culture of free software, and the idea of decentralization and transparency on digital tools.
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/en/projets/justice">Our Advocacy and Legal Actions</a></p>



	</div>
</section>





<section class="diagonal">
	<div class="container">

			<h3>The strength of the network!</h3>
		<p class="subtext editable">
Solidarity, sharing and mutual aid between different stakeholders are the central values in health. Just as the Internet is a common good, medical IT knowledge must be available and accessible to all. We therefore want to promote the special ethical dimension that the openness of innovation in the medical field engenders and we want to take active measures to prevent the privatization of medicine.
		</p>

		<p class="subtext editable">
InterHop.org is implementing actions to build a multidisciplinary and caring network around the founding principles of <a href="{{ site.baseurl }}/en/2021/01/18/opensource-libre-difference">free software</ a>.
		</p>
		<p><a href="{{ site.baseurl }}/en/manifeste">See the InterHop.org manifesto &rarr;</a></p>
<!--
		<p><a href="{{ site.baseurl }}/profes">Directory of open-source software in health &rarr;</a></p>
		<p><a href="{{ site.baseurl }}/profes">You are an engineer, join us &rarr;</a></p>
-->
		<ul class="image-grid">
			{% assign _projets = site.projets | where: "lang", "en" | where: "projets_collab", "true" | sort: 'order_collab' %}
			{% for projet in _projets %}
				<li>
					<a href="{{ site.baseurl }}{{ projet.url }}">
						<img src="{% include relative-src.html src=projet.image %}" alt="Logo - {{ projet.title }}">
						<div class="details">
							<div class="name">{{ projet.title }}</div>
							<div class="position">{{ projet.description }}</div>
						</div>
					</a>
				</li>
			{%endfor%}
			<li class="filler"></li>
		</ul>



	<h3>Our events calendar</h3>
  	<div id='calendar'></div>
</section>


<script>
  // Tuto : https://fullcalendar.io/
  // https://nouvelle-techno.fr/actualites/live-coding-utilisation-de-fullcalendar
  // https://www.raymondcamden.com/2017/02/24/an-example-of-a-static-site-with-a-dynamic-calendar
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var defaultView = 'dayGridMonth';
    if ( window.screen.width < 950) {
    	defaultView = 'listYear';
    }
    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: "auto", // https://fullcalendar.io/docs/height
      plugins: [ 'list', 'dayGrid' ],
      locale: 'fr',
      firstDay: 1, // https://fullcalendar.io/docs/firstDay
      defaultView: defaultView,
    /*  buttonText: {
        today:    'Aujourd\'hui',
        month:    'Mois',
        week:     'Semaine',
        day:      'Jour',
        list:     'Liste'
    },*/
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'dayGridMonth,listYear'
      },
      navLinks: true, // can click day/week names to navigate views
      eventLimit: true, // allow "more" link when too many events
      events: [ {% include events.js %}
      ]
    });
    calendar.render();
  });

</script>
