---
layout: default
---

{% if page.lang == "en" %}
	{% assign baseurl = site.baseurl | append: "/en" %}
{% endif %}

{% assign posts = site.posts | where: "categories", page.category | where: "lang", page.lang | slice: 0, 5 %}

<section class="hero diagonal">
	<div class="container">
		<h2><a href="{{ baseurl }}/blog/">Blog</a> / {{ page.title | capitalize }}</h2>
		<p class="subtext">{{ site.data.l18n.last_news[page.lang] }}</p>
                <p><a class="button alt" href="{{ site.baseurl }}/calendrier/">{{ site.data.l18n.calendar[page.lang] }}</a></p>
	</div>
</section>

<section class="diagonal">
	<div class="text-container">
		{% if posts.size == 0 %}
			<ul class="blog-post"><h3>{{ site.data.l18n.category_not_found[page.lang] }}</h3></ul>
		{% else %}
			<ul class="blog-posts">
				{% include list-posts.html posts=posts %}
			</ul>
		{% endif %}
	</div>
</section>

