<!doctype html>
{% assign rawurl = "" %}
{% if page.lang == "en" %}
	{% assign rawurl = rawurl | append: "en/" %}
{% endif %}

<html lang="{{ page.lang }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css">
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/interhop_logo.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/interhop_logo.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/interhop_logo.png">


                {% if page.calendar and page.calendar == true %}
		<link href='{{ site.baseurl }}/assets/js/fullcalendar/fullcalendar-4.4.0/packages/core/main.css' rel='stylesheet' />
		<link href='{{ site.baseurl }}/assets/js/fullcalendar/fullcalendar-4.4.0/packages/daygrid/main.css' rel='stylesheet' />
		<link href='{{ site.baseurl }}/assets/js/fullcalendar/fullcalendar-4.4.0/packages/list/main.css' rel='stylesheet' />

		<style>

		 #calendar {
		    max-width: 900px;
		    height: 100%;
		    margin: 0 auto;
		 }

		</style>

		{% endif %}

	</head>
	<body>
		<header>
			<div class="container">
			<h1 class="company-name"><a href="{{ site.baseurl }}/{{rawurl}}"><img src="{{ site.baseurl }}/assets/images/full_interhop_white_logopng.png" alt="{{ site.data.company.title }}" width="300"></a></h1>
				{% include navigation.html %}
			</div>
		</header>

		{{ content }}

		<footer class="diagonal">
			<div class="container">
				<div class="footer-columns">
					{% for column in site.data.footer_navigation %}
						<ul class="footer-links">
							<li>
								<h2>{{ column.title }}</h2>
							</li>
							{% for link in column.links %}
								<li>
									{% if link.social_icon %}
										<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" class="{{ link.social_icon | slugify }}-icon">
										{% include social-icon.html icon=link.social_icon %}
										{{ link.name }}

									{% else %}
										{% assign src_url=link.link[page.lang] %}
										<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=src_url %}">
										{{ link.name[page.lang] }}
									{% endif %}

									</a>
								</li>
							{% endfor %}
						</ul>
					{% endfor %}

					<ul class="footer-links">
						<li>
							<h2>{{ site.data.company.title }}</h2>
						</li>
						<li>{{ site.data.company.description[page.lang] }}</li>
					</ul>
				</div>
			</div>
			<div class="legal-line">
				<p class="container">
					Template by <a target="_blank" href="https://jekyllrb.com/">Jekyll</a>
				{% for column in site.data.footer_legal_line %}
					&bull;
					{% assign src_url=column.link[page.lang] %}
					<a href="{% include relative-src.html src=src_url %}">{{ column.name[page.lang] }}</a>
				{% endfor %}
					
				</p>
			</div>

		</footer>

 		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
 
                {% if page.calendar and page.calendar == true %}

		<script src='{{ site.baseurl }}/assets/js/fullcalendar/fullcalendar-4.4.0/packages/core/main.js'></script>
		<script src='{{ site.baseurl }}/assets/js/fullcalendar/fullcalendar-4.4.0/packages/list/main.js'></script>
		<script src='{{ site.baseurl }}/assets/js/fullcalendar/fullcalendar-4.4.0/packages/daygrid/main.js'></script>

		{% endif %}

	</body>
</html>
