---
layout: default
---

<section class="hero diagonal">
	<div class="container">
		{% if page.title %}
		<h2>{{ page.title | capitalize }}</h2>
		{% endif %}
		{% if page.description %}
			<p class="subtext">{{ page.description }}</p>
		{% endif %}
	</div>
</section>

<section class="diagonal">
	<div class="container">
		{% if page.show_image %}
		<p><img src="{% include relative-src.html src=page.image %}" class="screenshot"></p>
		{% endif %}
		<div>
			{{ content }}
		</div>
		{% if page.external_url and page.external_name %}
		<p><a href="{{ page.external_url }}" target="_blank">{{ page.external_name }} &rarr;</a></p>
		{% endif %}
	</div>
</section>
