---
title: InterHop
layout: default
permalink: /
ref: pages-index
lang: fr
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Pour des communs en santé !</h2>
		<p class="subtext editable">
			InterHop.org promeut et développe l'utilisation du logiciel libre et open-source pour la recherche en santé.
		</p>
		<p class="subtext editable">
			InterHop.org regroupe des militants des logiciels libres et d’une utilisation auto-gérée des données de santé à l'échelle locale.
		</p>
		<p class="subtext editable">Retrouve notre lettre d'information sur l'actualité "techno-juridique".</p>
		<p><a class="button alt" href="{{ site.baseurl }}/nous">Inscris-toi</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<!--
			<h3 class="editable">A la Une !</h3>
			<p class="editable">Découvrez l'association InterHop</p>
			-->
			<h3 class="editable">Zoom !</h3>
			<p class="editable">Sur certains de nos projets</p>


		<!--
			<p class="editable"><a href="{{ site.baseurl }}/projets/">Voir toutes nos projets &rarr;</a></p>
		-->
		</div>
		<div>
			<ul class="image-grid">
				{% assign _projets = site.projets | where: "lang", "fr" | where: "une", "true" | sort: 'order_une' %}
				{% for projet in _projets limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ projet.url }}"><img src="{% include relative-src.html src=projet.image %}" alt="Logo - {projet.title}" class="screenshot">
					<div class="details">
							<div class="position">{{ projet.title }}</div>
					</div>
					</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div class="hiddenOnMobile">
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/assets/images/interhop_logo_deux.png" alt="Logo - InterHop" width="350"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Comment nous aider ?</h3>
			<p class="editable">
				Chercheur·euse, patient·e ? Utilise nos logiciels sécurisés !
			</p>
			<p><a style="text-align: center;" class="button alt" type="blue" href="{{ site.baseurl }}/projets/">Découvre nos projets</a></p>
			<p class="editable">
				Nous avons besoin de dons pour continuer nos projets. Si tu veux nous aider c'est ici !
			</p>
			<p><a style="text-align: center;" class="button alt" type="blue" href="{{ site.baseurl }}/dons/">Dons !</a></p>

		</div>
	</div>
</section>
