---
title: Projets
layout: default
calendar: true
permalink: projets/
ref: pages-projets
lang: fr
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Nos Projets</h2>
<!--
-->
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
		<h3>Le logiciel libre pour la recherche en santé</h3>

		<p class="subtext editable">
InterHop.org reprend à son compte les idées de <a href="https://framasoft.org" target="_blank">Framasoft.org</a> et des <a href="https://www.chatons.org" target="_blank">CHATONS.org</a>
		</p>

		<p class="subtext editable">
Dans le domaine de la santé, nos objectifs sont donc :
			<ul>
<li>Créer un cadre associatif de confiance transparent et éthique autour des données. Nous nous engageons donc à protéger vos données de santé pour que la confiance et le secret entre les patient·es et les soignant·es soient préservés</li>
<li>D'informer les usagers - soigné·es et soignant·es - sur les enjeux du logiciel libre et des données en santé</li>
<li>Etre un réseau de projets pertinents pour recherche en santé via des solutions informatiques alternatives et efficaces</li>
<li>Installer et développer des outils numériques éthiques pour promouvoir une recherche en santé ouverte et plus reproductible</li>
<li>Proposer des hébergements décentralisés, transparents et éthiques certifiés pour la santé</li>
			</ul>
		</p>

		<ul class="image-grid">
			{% assign _projets = site.projets | where: "lang", "fr" | where: "projets_outils", "true" | sort: 'order_outils' %}
			{% for projet in _projets %}
				<li>
					<a href="{{ site.baseurl }}{{ projet.url }}">
						<img src="{% include relative-src.html src=projet.image %}" alt="Logo - {{ projet.title }}">
						<div class="details">
							<div class="name">{{ projet.title }}</div>
							<div class="position">{{ projet.description }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
		</ul>


		<p><a style="text-align: center;" class="button alt" type="blue" href="{{ site.baseurl }}/2023/04/06/brochure-recherche">Voir notre brochure "Recherche"</a></p>

	</div>
</section>








<section class="diagonal patterned">

	<div class="container">

		<h3>InterHop.org facilite l'accès au droit</h2>

		<p class="subtext editable">
InterHop.org oeuvre pour une pleine et entière application du Règlement Général sur la Protection des Données ou RGPD (texte qui protège les citoyen·nes européen·nes dans leur droits).
		</p>
		<p class="subtext editable">
Il est possible de contacter la Déléguée à la Protection des Données à <a href="mailto:dpo-interhop@riseup.net">dpo-interhop@riseup.net</a>.
		</p>

		<p><a class="button alt" href="{{ site.baseurl }}/nous">Inscris-toi à notre veille technico-juridique</a></p>


	<br />
		<h3>InterHop.org veut faire changer la loi et appliquer le droit</h2>
		<p class="subtext editable">
InterHop.org dans le cadre de ses activités de plaidoyer permettra l'émergence de propositions concrètes à un niveau national et européen.
Il s'agit pour nous d'agir en faveur d'une protection maximale des données de santé, de diffuser la culture du logiciel libre, et l'idée de décentralisation et de transparence sur les outils numériques.
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/projets/justice">Nos plaidoyers et actions en justice</a></p>



	</div>
</section>


<section class="diagonal">
	<div class="container">

			<h3>La force du réseau !</h3>
		<p class="subtext editable">
La solidarité, le partage et l’entraide entre les différents acteurs sont les valeurs centrales en santé. Au même titre qu’Internet est un bien commun, le savoir en informatique médicale doit être disponible et accessible à tous. Nous voulons donc promouvoir la dimension éthique particulière qu’engendre l’ouverture de l’innovation dans le domaine médical et nous voulons prendre des mesures actives pour empêcher la privatisation de la médecine.
		</p>

		<p class="subtext editable">
InterHop.org met en place des actions pour construire  un réseau pluridisciplinaire et bienveillant autour des principes fondateurs du <a href="{{ site.baseurl }}/2021/01/18/opensource-libre-difference">logiciel libre</a>.
		</p>
		<p><a href="{{ site.baseurl }}/manifeste">Voir le manifeste d'InterHop.org &rarr;</a></p>
<!--
		<p><a href="{{ site.baseurl }}/profes">Annuaire des logiciels open-sources en santé &rarr;</a></p>
		<p><a href="{{ site.baseurl }}/profes">Tu es ingénieur, rejoins-nous &rarr;</a></p>
-->
		<ul class="image-grid">
			{% assign _projets = site.projets | where: "lang", "fr" | where: "projets_collab", "true" | sort: 'order_collab' %}
			{% for projet in _projets %}
				<li>
					<a href="{{ site.baseurl }}{{ projet.url }}">
						<img src="{% include relative-src.html src=projet.image %}" alt="Logo - {{ projet.title }}">
						<div class="details">
							<div class="name">{{ projet.title }}</div>
							<div class="position">{{ projet.description }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
		</ul>



	<h3>Le calendrier de nos évènements</h3>
  	<div id='calendar'></div>
</section>

<script>
  // Tuto : https://fullcalendar.io/
  // https://nouvelle-techno.fr/actualites/live-coding-utilisation-de-fullcalendar
  // https://www.raymondcamden.com/2017/02/24/an-example-of-a-static-site-with-a-dynamic-calendar
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var defaultView = 'dayGridMonth';
    if ( window.screen.width < 950) {
    	defaultView = 'listYear';
    }
    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: "auto", // https://fullcalendar.io/docs/height
      plugins: [ 'list', 'dayGrid' ],
      locale: 'fr',
      firstDay: 1, // https://fullcalendar.io/docs/firstDay
      defaultView: defaultView,
      buttonText: {
        today:    'Aujourd\'hui',
        month:    'Mois',
        week:     'Semaine',
        day:      'Jour',
        list:     'Liste'
    },
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'dayGridMonth,listYear'
      },
      navLinks: true, // can click day/week names to navigate views
      eventLimit: true, // allow "more" link when too many events
      events: [ {% include events.js %}
      ]
    });
    calendar.render();
  });

</script>
